<h3>Recapitulatif de l'email</h3>

<p><b>Nom</b>: {{contact.nom}}</p>
<p><b>Prénom</b>: {{contact.prenom}}</p>
<p><b>Mail</b>: {{contact.mail}}</p>
<p><b>Message</b>: {{contact.message}}</p>
<p><b>Département</b>: {{contact.departement.nom}}</p>
